* {
    box-sizing: border-box;
}

body {
    background-color: #2E2E2E;
}

.m-container img {
    position: absolute;
    display: block;
}

.main-back {
    width: 100%;
}

.aside {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 15vh;
    height: 100vh;
    background-color: #333333;
    opacity: 0.8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.aside p {
    margin-top: calc(50vh - 160px);
    transform: rotate(-90deg);
    color: white;
    font-family: Open Sans Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #C4C4C4;
    white-space: nowrap;
}

.line {
    margin-top: 10vh;
    position: relative;
    width: 2px;
    height: 80px;
    background-color: #C4C4C4;
}

.social {
    height: 174px;
    width: 26px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-header {
    position: relative;
    border: 1px solid transparent;
    width: 80%;
    margin: auto;
}

.nav {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: auto;
}

.nav-item {
    margin: 0px 20px;
    list-style-type: none;
    font-family: Open Sans Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

li>a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

li:last-child {
    text-decoration: underline;
    margin-left: 150px;
}

.main-description {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-top: 20vh;
    margin-left: auto;
    margin-right: auto;
}

@media(max-width: 1550px) {
    .main-description {
        margin-top: 10vh;
        width: 65%;
    }
    li:last-child {
        margin-left: 30px;
    }
    li {
        text-align: center;
    }
}

@media(max-width: 1340px) {
    .main-text {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 40px;
    }
    .aside {
        display: none;
    }
    .main-header {
        width: 100%;
        flex-wrap: wrap;
    }
}

@media(max-width: 991px) {
    .slider {
        display: none;
    }
    .main-description {
        display: block;
        text-align: center;
        height: 10vh;
    }
}

.text-description p {
    color: white
}

.main-text {
    display: block;
    font-family: Open Sans Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 87px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.poster-btn {
    width: 160px;
    height: 50px;
    background-color: gold;
}

p.about-theatre {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
}

.slider {
    position: relative;
    width: 370px;
    height: 570px;
}

.slider img {
    position: relative;
    width: 370px;
    height: 510px;
}

.buttons {
    margin-top: 5px;
    height: 25px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.prev {
    width: 108px;
    height: 25px;
    background-image: url(img/prev.svg);
    background-repeat: no-repeat;
}

.next {
    width: 108px;
    height: 25px;
    background-image: url(img/next.png);
    background-repeat: no-repeat;
}

.about-text {
    position: relative;
    left: 50%;
    transform: translate(-50%, 60%);
    max-width: 1110px;
    height: 457px;
}

.card h4 {
    color: white;
    font-family: Open Sans Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 29px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

h1 {
    font-family: Open Sans Condensed;
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 65px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
}

h1::first-letter {
    color: gold;
}

.card p {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #FFFFFF;
}

.the-best {
    position: relative;
    display: block;
    width: 445px;
    height: 273px;
}

.cards {
    display: flex;
    justify-content: space-between;
}

.numbers p {
    font-weight: bold;
}

.numbers span {
    color: gold;
}